[submodule "data/jquery.ime"]
	path = data/jquery.ime
	url = git@github.com:Cybernetic1/jquery.ime.git
[submodule "data/jquery.uls"]
	path = data/jquery.uls
	url = https://github.com/Cybernetic1/jquery.uls
